// https://color-name-generator.com/ 

$doctor: #F8F9FA;
$bleached-silk: #F2F2F2;
$vital-green: #198754;
$antarctic-deep: #343A40;
$bright-star: #dee2e6;
$pompeii-ash: #6c757d;
$satin-white: #ced4da;

$primary: $vital-green;
$dark: $antarctic-deep;
