// https://color-name-generator.com/

$doctor: #F8F9FA;
$bleached-silk: #F2F2F2;
$vital-green: #198754;
$antarctic-deep: #343A40;
$bright-star: #dee2e6;
$pompeii-ash: #6c757d;
$satin-white: #ced4da;
$cruel-ruby: #DC3545;
$foggy-morn: #C8CFCF;
$bright-star: #DEE2E6;
$lynx-white: #F7F7F7;

$primary: $vital-green;
$dark: $antarctic-deep;

$table-bg-scale: 0%;
