// Mixins

@import "../stylesheets/mixins/bem";

// Modules

@import "../stylesheets/modules/colors";
@import "../stylesheets/modules/fonts";

// Blocks

@import "../stylesheets/blocks/icons";
@import "../stylesheets/blocks/record-view";
@import "../stylesheets/blocks/header";
@import "../stylesheets/blocks/navbar";
@import "../stylesheets/blocks/card";
@import "../stylesheets/blocks/breadcrumb";
@import "../stylesheets/blocks/form-in-dropdown";

// Libraries

@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

h1, h2, h3, h4 {
  font-weight: 700;
}

body {
  background-color: $bleached-silk;
  color: $antarctic-deep;
  font-family: 'Lato', sans-serif;
}
