<%= content_for(:title) { 'New Harvest Definition' } %>

<%= render 'shared/breadcrumb_nav' %>

<h1>Add New <%= @harvest_definition.kind.capitalize %> Definition</h1>

<div class="mt-4"></div>

<%= render 'form' %>
