<%= content_for(:title) { 'New Content source' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">Add New Content Source</h1>

  <div class="float-end">
    <button type="submit" class="btn btn-primary" id="js-content-source-form-submit">
      Save
    </button>
  </div>

  <div class="clearfix">
<% end %>

<%= render 'form' %>
