.field-nav-panel {
  position: sticky;
  max-height: calc(100vh - 2rem);
  top: 1rem;

  @include element('header') {
    padding: .75rem 1rem .75rem 1rem;
    border-bottom: 1px solid $satin-white;
    position: relative;

    @include modifier('fields') {
      border-top: 1px solid $satin-white;
    }
  }

  @include element('content') {
    padding: .75rem 1rem .75rem 1rem;
  }
}
