// adding styles to existing Bootstrap styles

.navbar {
  .active {
    position: relative;
    &:after {
      content: '';
      width: 88%;
      height: 5px;
      bottom: -8px;
      display: block;
      background-color: $primary;
      position: absolute;
    }
  }
}
