.record-view {
  @include modifier('extraction-result') {
    #extraction-result-viewer {
      height: 750px;
    }
  }

  @include modifier('transformation') {
    .record-view__container {
      height: 50vh;
      width: 100%;
    }
  }

  .cm-editor {
    height: 100%;

    .cm-scroller {
      overflow: auto;
    }
  }

  @include modifier('record-selector-result') {
    .cm-editor  {
      height: 250px;
    }
  }
}
