.record-view {
  @include modifier('extraction-result') {
    #extraction-result-viewer {
      height: 750px;
    }
  }

  @include modifier('transformation') {
    .record-view__container {

    @include media-breakpoint-up(xxl) {
      height: 100vh;
    }
      
      height: 300px;
      max-width: 30vw;
    }
  }

  .cm-editor { height: 100% }
  .cm-scroller { overflow: auto }
}
