<% id ||= 'delete-modal' %>
<% heading_text ||= 'Delete' %>

<%= tag.div(
  class: "modal fade",
  id: id,
  tabindex: "-1",
  'aria-labelledby': "Delete",
  'aria-hidden': "true"
) do
%>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= heading_text %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to("Delete", path, method: :delete, class: "btn btn-danger") %>
      </div>
    </div>
  </div>
<% end %>
