default: &default
  MYSQL_SOCKET: null
  SJ_USER_AGENT: Supplejack Harvester v2.0
  FIXTURES_PATH: spec/fixtures

development:
  <<: *default
  API_KEY: your_supplejack_api_key_used_for_fixtures
  NGATAONGA_API_KEY: used_for_fixtures

test:
  <<: *default
  NGATAONGA_API_KEY: NGATAONGA_API_KEY
