<%= content_for(:title) { 'New Destination' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title float-start">Add New Destination</h1>
 
  <div class="float-end">
    <button type="button" class="btn btn-outline-primary me-1" id="js-test-destination">
      Test
    </button>

    <button type="submit" class="btn btn-primary" id="js-destination-form-submit">
      Save
    </button>
  </div>

  <div class="clearfix">
<% end %>

<%= render 'form' %>
