<%= content_for(:title) { 'New Transformation' } %>

<%= render 'shared/breadcrumb_nav' %>

<h1>New <%= @transformation_definition.kind.capitalize %> Transformation Definition</h1>

<%= render 'form' %>
